<div id="access-change_password">
	<h1>Change Password</h1>
	<h2>User: <%= @user.username %></h2>
	<%= form_for(@user, :url => {:action => 'change_password'}) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<%= hidden_field_tag :id, @user.id %>
		
	  <div class="field">
	    <%= f.label :old_password, 'Old password:'%><br />
	    <%= f.password_field :old_password %>
	  </div>
	  <div class="field">
	    <%= f.label :password, 'New password' %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	
	<br />
	
	<%= link_to 'Back to Users Table', access_users_path %>
	
</div>
