<div id="access-users">
	<table id="users_table">	
		<h1>Listing users and their roles</h1>

	  <tr>
	    <th>Username</th>
	    <th>Email</th>
			<% if !@roles.blank? %>
			  <% @roles.each do |r| %>
			    <th><%= r.rolename %></th>
			  <% end %>
			<% end %>
	    <th></th>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.username %></td>
	    <td><%= user.email %></td>
			<% if !@roles.blank? %>
			  <% @roles.each do |r| %>
			    <td><%= r.rolename %></td>
			  <% end %>
			<% end %>
	    <td><%= link_to 'Change password', access_change_password_path(:id => user.id) %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New User', new_user_path %>

</div>
