<!DOCTYPE html>
<html>
<head>
  <title>SimplePasswordManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<%= render :partial => 'partials/flashes' %>
	
	<div id="yield"><%= yield %></div>

	<div id="footer">
		<%= link_to 'Home', root_path %> | 
		<%= link_to 'Users', access_users_path %>		
	</div>

</body>
</html>
